# SQLite

In [3]:
import sqlite3
con = sqlite3.connect("week3.sqlite", isolation_level=None)
cur = con.cursor()

Data types in SQLite  
https://www.sqlite.org/datatype3.html

In [10]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [12]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
)
"""
cur.execute(q)

In [13]:
# Check if the table is created
res = cur.execute("SELECT name FROM sqlite_master")

In [14]:
res.fetchone()

('movies',)

In [15]:
q = """
INSERT INTO movies (title, year, rating) VALUES (?, ?, ?)
"""

cur.execute(q, ("The Matrix", 1999, 5.0))

In [16]:
cur.execute(q, ("Forrest Gump", 1994, 3.5))

In [17]:
[x for x in cur.execute("""SELECT * FROM movies""")]

[(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 17:59:12'),
 (2, 'Forrest Gump', 1994, 3.5, 0, '2024-01-23 17:59:13')]

In [21]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 5.0),
    ("Monty Python's The Meaning of Life", 1983, 4.5),
    ("Monty Python's Life of Brian", 1979, 3.9),
]
cur.executemany("INSERT INTO movies (title, year, rating) VALUES(?, ?, ?)", data)

In [23]:
for row in cur.execute("SELECT year, title FROM movies ORDER BY year"):
    print(row)

(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")
(1994, 'Forrest Gump')
(1999, 'The Matrix')

# Pandas

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('./title.basics.tsv', sep='\t')

/var/folders/fs/3h6y5ksn4x3dvfd78w6z5z3c0000gn/T/ipykernel_15874/2950131652.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./title.basics.tsv', sep='\t')

In [26]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"